.flexible-content{

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.flexible-content-slider{
		width: 100%;
		padding-left: 0;
		padding-right: 0;

		@include media-breakpoint-up(sm){
			padding-left: 15px;
			padding-right: 15px;
		}

		img{
			width: 100%;
		}

		.slick-arrow{
			width: auto;
			height: auto;
			
			&:before{
			    color: $primary;
			    transition: all .25s;
			    font-family: 'Font Awesome 5 Free';
			    font-weight: 900;
			    font-size: 70px;
			}

			&.slick-next:before{
				content: '\f105';
			}

			&.slick-prev:before{
				content: '\f104';
			}
		}

	}

	.flexible-content-slider-nav{
		padding: 15px 0;

		.slick-track{

			.slick-slide{
				margin: 0 15px;

				img{
					width: 100px;
					height: 100px;
					object-fit: cover;
					cursor: pointer;
				}
			}
		}
	}

	.media-image{
		width: 100%;
	}

	.grid-overlay{
		position: relative;

		@include media-breakpoint-down(sm){
			width: 100% !important;
		}

		>img{
			width: 100%;
		}
		.overlay{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			color: #fff;

			h2{
				font-weight: 300;
			}
		}
	}

	div[class*="col-"]{
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
}

.order-xs-initial{
	@include media-breakpoint-up(xs){
		order: initial;
	}
}

.order-sm-initial{
	@include media-breakpoint-up(sm){
		order: initial;
	}
}

.order-md-initial{
	@include media-breakpoint-up(md){
		order: initial;
	}
}

.order-lg-initial{
	@include media-breakpoint-up(lg){
		order: initial;
	}
}

.order-xl-initial{
	@include media-breakpoint-up(xl){
		order: initial;
	}
}