$utility-bar-background-color: $primary;

.site-header {
    box-shadow: $header-box-shadow;
    z-index: 999;

    .mobile-toggle,
    .navbar-header {
        display: none;
    }

    .header-call {
        strong {
            font-size: 24px;
        }
        span {
            margin-right: 10px;
        }
        a {
            span {
                font-size: 18px;
            }
        }
    }
    .header-cart-item {
        padding-left: 30px;
    }

    &.sticky-header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: $sticky-header-bg-color;
        display: none;
    }

    .mobile-toggle {
        font-size: 27px;
        cursor: pointer;
        color: theme-color("primary");
    }

    .header-content {
        .utility-bar {
            // @include font-size(
            //     $fs-map: $utility-bar-font-size,
            //     $fs-breakpoints: $grid-breakpoints
            // );
            color: #1c2d72;
            background-color: #bec6d6;
            font-weight: 500;
            padding: 0.5rem 1.5rem;
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
            }

            > div {
                display: flex;
                justify-content: space-between;

                .left {
                    display: flex;
                    align-items: center;

                    .header-address {
                        color: #fff;

                        .fa-map-marker {
                            color: theme-color("secondary");
                            font-size: 15px;
                        }
                    }
                }
                .right {
                    display: flex;
                    align-items: center;

                    .lg-social-media-cont {
                        .lg-social-media {
                            margin-top: 0 !important;
                        }
                    }

                    > div {
                        padding-left: 15px;

                        span {
                            color: #fff;
                        }

                        i {
                            color: theme-color("primary");
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .header-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 1em;
            padding-bottom: 1em;

            .site-branding {
                .logo {
                    width: $header-logo-width;

                    @include media-breakpoint-up(sm) {
                        width: $header-logo-width-sm;
                    }

                    @include media-breakpoint-up(md) {
                        width: $header-logo-width-md;
                    }

                    img {
                        width: 100%;
                        display: block;
                        height: auto;
                    }
                }
            }

            .main-navigation {
                background-color: $navbar-default-bg;
                .navbar-nav {
                    a {
                        @include font-size(
                            $fs-map: $navbar-font-sizes,
                            $fs-breakpoints: $grid-breakpoints
                        );
                        color: $navbar-font-color;
                        opacity: $navbar-font-opacity;
                        text-transform: $navbar-text-format;
                    }
                }
            }

            @include media-breakpoint-down(sm) {
                & {
                    padding: 0;

                    .site-branding {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: gutter() / 2;

                        .mobile-toggle {
                            display: block;
                        }
                    }
                }

                .main-navigation {
                    width: 100%;
                    background-color: $navbar-bg-color-xs;

                    .navbar {
                        border: 0;

                        .navbar-collapse {
                            margin: 0;
                            overflow: hidden;
                            padding: gutter() 0;
                            a {
                                color: $navbar-font-color-xs;
                                opacity: $navbar-font-opacity-xs;
                                text-transform: $navbar-text-format-xs;
                            }

                            .navbar-nav {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .site-utility {
            display: flex;
            align-items: flex-start;
            .navbar {
                margin-top: 1px;
            }
            .nav-link {
                padding-top: 0;
                padding-bottom: 0;
                font-size: 1.1rem;
            }
        }
    }
}

.scroll-top {
    position: fixed;
    bottom: 69px;
    right: 0px;
    background: white;
    padding: 10px;
}

.additional-menu-items {
    width: 100%;
    .solid-line {
        background-color: #fff;
        width: 100%;
        height: 1px;
    }
    .mobile-utility {
        list-style-type: none;
        padding-inline-start: 0;
        //padding: 1em 0;
        li {
            //padding: 0.5em 0;
            a {
                font-family: "Open Sans", sans-serif;
                color: #fff;
                font-weight: 300;
            }
        }

        .lg-social-media-cont {
            .lg-social-media {
                justify-content: flex-start;
                margin-top: 0 !important;
                margin-bottom: 1em;
                li:first-child {
                    padding-left: 0;
                    margin-left: 0;
                    a {
                        margin-left: 0;
                        padding-left: 0;
                        text-align: left;
                    }
                }
                li {
                    a {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .main-navigation.bg-primary > .container {
        max-width: unset !important;
    }
}

@media screen and (min-width: 864px) and (max-width: 965px) {
    #main-navbar {
        #menu-main-menu {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 863px) {
    #main-navbar {
        #menu-main-menu {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
}
